body{
    background-color: aliceblue;
}

.stocks{
    margin: 3vw;
}

th{
    color: aqua;
}

td a {
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    padding: 1vw 1.5vw;
    margin: 1vw;

}